.not-found-container {
  width: 60%;
  min-width: 250px;
  margin: auto;
  margin-bottom: 50px;
  background-color: $light;
  border-radius: 50px;
  box-shadow: 3px 3px 8px $darker;
  transition: 0.3s ease-in-out;

  .not-found {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15rem;
    color: rgb(107, 60, 60);
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }

  .text {
    width: 100%;
    color: $danger;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    transition: 0.3s ease-in-out;

    .subtext {
      width: 250px;
      padding: 10px;
      transition: 0.3s ease-in-out;

      small {
        color: rgb(107, 60, 60);
        transition: 0.3s ease-in-out;

        span {
          color: rgb(60, 60, 226);
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (min-width: 1700px) {
    .not-found {
      width: 100%;
      font-size: 35rem;
    }

    .text {
      font-size: 2rem;

      .subtext {
        width: 450px;

        small {
          span {
            color: rgb(60, 60, 226);
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    width: 95%;
    margin-top: 50px;
    border-radius: 10px;

    .not-found {
      width: 100%;
      font-size: 8rem;
    }

    .text {
      font-size: 0.8rem;
      text-align: center;

      .subtext {
        width: 100%;
      }
    }
  }
}
