@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500;700;900&family=Quicksand:wght@300;500;700&display=swap");

// COLORS //

$dark: #141414;
$darker: #000000;

$light: #e9ecef;
$lighter: #ffffff;
$grey: rgb(172, 172, 172);

$primary: #b100e8;
$primary-hover: #8900f2;

$success: #99d98c;
$success-hover: #5de442;

$danger: #d50000;
$danger-hover: #ff1111;

$warning: #edc531;
$warning-hover: #ffca08;

// FONTS //

$font-primary: "Quicksand", sans-serif;
$font-secondary: "Exo 2", sans-serif;
